<html>
    <head>
            <title>pio's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Pio's Blog</a></h1>
        </div>

        <div>
            <p>published : 08.08.2014, 20:04</p>
            <h2><a href=""><strong>My first posting</strong></a></h2>
            <p><strong>한글이 쳐질까? 헐 쳐지네 이건 스트롱 적용 </strong></p>
        </div>
        <div>
            <p>published : 08.08.2014, 20:04</p>
            <h2><a href="">My 2nd posting 헤드라인은 무조건 볼드처리인듯</a></h2>
            <p>Annyung</p>
        </div>
    </body>
</html>

